<div class="galeria">
  <div class="galeriaNapis"><p>Gallery</p></div>
  <div class="galeriaZdjec">
    <button
      (click)="przewinDoPoprzedniegoZdjecia()"
      class="galeriaPrzycisk lewy"
    >
      &lt;
    </button>
    <div class="galeriaZdj">
      <img
        [src]="galeriaZdjecService.getAktualneZdjecie()"
        alt="Zdjęcie przestawiające prace serwisu"
        class="zaokraglenie"
      />
    </div>
    <button
      (click)="przewinDoNastepnegoZdjecia()"
      class="galeriaPrzycisk prawy"
    >
      &gt;
    </button>
  </div>
  <div class="galeriaKropki">
    <span *ngFor="let zdjecie of galeriaZdjecService.zdjecia; let i = index">
      <span
        class="galeriaKropka"
        id="galeriaKropka"
        (click)="galeriaKropkiKlikniecie(i)"
        [ngClass]="{
          galeriaKropkiPodswietlenie:
            i === galeriaZdjecService.pobierzIndexDoZmiany()
        }"
      >
        {{ galeriaKropki }}
      </span>
    </span>
  </div>
</div>
