$marginesBoczny: 200px;
$wielkoscTla: 25px;

.header {
  background-color: #500bf5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: $wielkoscTla 0;
}
.logo {
  display: inline-block;
  margin-left: $marginesBoczny;
  margin-right: auto;
}
.logo > p {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}
.socjale {
  margin-right: 30px;
}
.przycisk {
  margin-right: $marginesBoczny;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
  }
  .socjale {
    display: none;
  }
}
