.sekcjaMapa {
  background-color: #c6f1ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mapaNapisy {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lokacja {
  font-size: 30px;
  font-weight: 500;
}
.adres {
  font-size: 17px;
  font-weight: 100;
  color: #6b8289;
}
.mapa {
  margin-top: 50px;
  margin: 80px 0 80px 0;
}
