.sekcjaMapa {
  background-color: #c6f1ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lokacja {
  font-size: 20px;
  font-weight: 500;
}
.adres {
  font-size: 14px;
  font-weight: 100;
}
