.stopka {
  background-color: #2986f6;
  display: flex;
  flex-direction: column;
}
.formularz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 125px;
  width: 100%;
}
.formularzWlasciwy {
  width: 700px;
  color: #0f2f57;
}
.formularzDane {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.formularzImie,
.formularzEmail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}
.formularzPole {
  background-color: #267de5;
  border-radius: 10px;
  border: none;
}
.dane {
  height: 40px;
  margin-bottom: 20px;
}
.formularzWiadomosc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.wiadomosc {
  height: 100px;
}
.formularzDane,
.formularzWiadomosc {
  font-size: 16px;
}
.formularzPrzycisk {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.formularzOpis {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 580px;
}
.contactUs {
  font-size: 30px;
  font-weight: 500;
}
.contactUsOpis {
  font-size: 17px;
}
.dolnaStopka {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0 100px 0;
}
.stopkaLogo {
  margin-left: 260px;
  font-size: 30px;
  font-weight: 500;
}
.sociale {
  margin-right: 260px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .formularz {
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
  }
  .formularzWlasciwy {
    order: 2;
    width: 100%;
  }
  .formularzDane {
    flex-wrap: wrap;
  }
  .formularzPrzycisk {
    justify-content: center;
    margin-top: 20px;
  }
  .formularzDane {
    display: flex;
    gap: 5px;
  }
  .formularzImie,
  .formularzEmail {
    width: 100%;
  }
  .formularzOpis {
    order: 1;
    /*align-items: center;
    margin: 0 10px 0 10px;*/
  }
  .dolnaStopka {
    margin: 30px 0 15px 0;
  }
  .stopkaLogo {
    margin-left: 10px;
  }
  .sociale {
    margin-left: auto;
    margin-right: 5px;
  }
}
