<div class="sekcja2">
  <div class="about">
    <div class="aboutTekst">
      <p class="aboutUs">About us</p>
      <p class="aboutUs2">
        Specserwis is trusted name in the computer repair industry. With our
        expertise and dedication, we provide top-notch repair services to
        individuals and businesses in Białystok and the surrounding areas.
      </p>
      <p class="aboutUs3">
        At Specserwis, we understand the importance of having a reliable and
        efficient computer system. Our team of skilled technicians is committed
        to delivering fast and effective solutions to all your computer
        problems. Whether it's a hardware issue, software malfunction, or
        network troubleshooting, we have the knowledge and experience to get
        your devices up and running smoothly again.
      </p>
    </div>
    <div class="aboutZdj">
      <img
        src="../../../assets/images/zdj1.webp"
        alt="Zdjęcie laptopa ze zbliżeniem na tablet i telefon"
      />
    </div>
  </div>
  <div class="services">
    <p class="napisServices">Services</p>
    <div class="servicesGaleria">
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services1.webp"
          alt="Virus and Malware Removal"
          class="servicesImg"
        />
        <p class="servicesTekst">Virus and Malware Removal</p>
      </div>
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services2.webp"
          alt="Hardware Repair and Upgrades"
          class="servicesImg"
        />
        <p class="servicesTekst">Hardware Repair and Upgrades</p>
      </div>
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services3.webp"
          alt="Data Recovery"
          class="servicesImg"
        />
        <p class="servicesTekst">Data Recovery</p>
      </div>
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services4.webp"
          alt="Software Installation and Setup"
          class="servicesImg"
        />
        <p class="servicesTekst">Software Installation and Setup</p>
      </div>
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services5.webp"
          alt="Network Troubleshooting"
          class="servicesImg"
        />
        <p class="servicesTekst">Network Troubleshooting</p>
      </div>
      <div class="servicesZdjTekst">
        <img
          src="../../../assets/images/services6.webp"
          alt="Operating System Optimization"
          class="servicesImg"
        />
        <p class="servicesTekst">Operating System Optimization</p>
      </div>
    </div>
  </div>
  <div class="opinie">
    <p class="trescOpinii">
      Specserwis in Białystok is simply amazing! They repaired my computer
      quickly and efficiently. The staff was friendly and knowledgeable. I am
      extremely grateful for their excellent service. Highly recommended!
    </p>
    <p class="opiniodawca">- Emily</p>
  </div>
</div>
