<div class="sekcja2">
  <div class="about">
    <div class="aboutTekst">
      <p class="aboutUs">About Us</p>
      <p class="aboutUs2">
        Specserwis is trusted name in the computer repair industry. With our
        expertise and dedication, we provide top-notch repair services to
        individuals and businesses in Białystok and the surrounding areas.
      </p>
      <p class="aboutUs3">
        At Specserwis, we understand the importance of having a reliable and
        efficient computer system. Our team of skilled technicians is committed
        to delivering fast and effective solutions to all your computer
        problems. Whether it's a hardware issue, software malfunction, or
        network troubleshooting, we have the knowledge and experience to get
        your devices up and running smoothly again.
      </p>
    </div>
    <div class="aboutZdj">
      <img
        src="../../../assets/images/zdj1.jpg"
        alt="Zdjęcie laptopa ze zbliżeniem na tablet i telefon"
      />
    </div>
  </div>
</div>
