$aboutMarginesyBoczne: 200px;
$aboutMarginesyAboutElementy: 95px;
$aboutCzcionkaOpis: 20px;
$aboutKolorTekstu: #6b8289;
$aboutMarginesyOpis: 20px;
$aboutMarginesGorny: 70px;

.sekcja2 {
  background-color: #c6f1ff;
}
.about {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 $aboutMarginesyBoczne 120px $aboutMarginesyBoczne;
}
.aboutTekst {
  margin-right: $aboutMarginesyAboutElementy;
  margin-top: $aboutMarginesGorny;
}
.aboutUs {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.aboutUs2 {
  font-size: $aboutCzcionkaOpis;
  color: $aboutKolorTekstu;
  margin-bottom: $aboutMarginesyOpis;
}
.aboutUs3 {
  font-size: $aboutCzcionkaOpis;
  color: $aboutKolorTekstu;
  margin-top: $aboutMarginesyOpis;
}
.aboutZdj {
  margin-left: $aboutMarginesyAboutElementy;
  margin-top: $aboutMarginesGorny;
}
.aboutZdj > img {
  width: auto;
  height: 400px;
  border-radius: 20px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.napisServices {
  font-size: 50px;
  font-weight: 500;
}
.servicesGaleria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.servicesZdjTekst {
  position: relative;
}
.servicesImg {
  border-radius: 30px;
}
.servicesTekst {
  font-size: 35px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 10px;
  border-radius: 0 0 25px 25px;
  width: 96%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.opinie {
  margin: 170px 700px 0 170px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.trescOpinii {
  font-size: 30px;
  font-weight: 500;
}
.opiniodawca {
  font-size: 25px;
  color: #525252;
  margin-bottom: 150px;
}
