@import "~bootstrap/dist/css/bootstrap.css";

body {
  width: 100%;
}

.all {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    //padding: 0;
  }
  .galeria {
    display: none;
  }
}
