@import "~bootstrap/dist/css/bootstrap.css";

.all {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .galeria {
    display: none;
  }
  /*.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: auto;
  }*/
}
