$przyciskKursor: pointer;
$przyciskDomyslnaCzcionka: "Roboto", sans-serif;

.domyslny-kolor-przycisku {
  background-color: #ffffff;
  white-space: nowrap;
  cursor: $przyciskKursor;
  border: none;
  font-family: $przyciskDomyslnaCzcionka;
}
.button-light-blue {
  background-color: #b3ddea;
  white-space: nowrap;
  cursor: $przyciskKursor;
  border: none;
  font-size: 25px;
  padding: 5% 10%;
  border-radius: 7px;
  font-family: $przyciskDomyslnaCzcionka;
  font-weight: 100;
}
.button-light-blue:hover {
  background-color: #ffffff;
}
.button-brighter-blue {
  background-color: #c0edfb;
  white-space: nowrap;
  cursor: $przyciskKursor;
  border: none;
  font-size: 25px;
  padding: 5% 10%;
  border-radius: 7px;
  font-family: $przyciskDomyslnaCzcionka;
  font-weight: 100;
}
.button-brighter-blue:hover {
  background-color: #ffffff;
}
.button-brighter-blue-form {
  background-color: #c0edfb;
  white-space: nowrap;
  cursor: $przyciskKursor;
  border: none;
  color: #0f2f57;
  font-size: 16px;
  font-family: $przyciskDomyslnaCzcionka;
  border-radius: 10px;
  padding: 15px 60px;
}
.button-brighter-blue-form:hover {
  background-color: #ffffff;
}
