<div class="sekcja1">
  <div class="blue-overlay">
    <div class="tekst1">
      <p class="sekcja1Naglowek">Get Your Computer Fixed!</p>
      <p class="sekcja1Tresc">
        We specialize in computer repair services. Fast and reliable solutions
        for all your hardware and software problems.
      </p>
    </div>
    <div class="sekcja1Przycisk">
      <app-przycisk
        [buttonColor]="'button-brighter-blue'"
        (clicked)="handleButtonClick()"
        ><p class="sekcja1TrescPrzycisku">Fix Now</p></app-przycisk
      >
    </div>
  </div>
</div>
